
.logo{
    max-width: 50px;
}


.logo-txt{
    max-width: 200px;
}

.hero{
    background-image: url("images/helmet.jpg");

    
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.about{
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -10px 0 0 0;
    
}

.gallery-item{
    flex: 1;
    flex-basis: 33%;
    margin: 10px 0 0 0;
}

.sub-heading{
    text-align: center;
    border-bottom: 5px solid purple;
}